<h1>Articles</h1>

<% if @searched %>
  <h3>Found <%= @articles.count %> articles</h3>
<% else %>
  <h3>Total articles: <%= @articles.count %></h3>
  <h3>Published today: <%= @articles.where("published_at >= ?", Time.zone.now.beginning_of_day).count %></h3>
<% end %>

<%= form_tag(articles_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Articles" %>
  <%= submit_tag "Search" %>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Published</th>
    <th>Comments</th>
    <th colspan="2"></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.user.name %></td>
      <td><%= article.published_at && article.published_at.to_formatted_s(:long) %></td>
      <td><%= article.comments.count %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td>
        <% if can? :update, article %>
          <%= link_to 'Edit', edit_article_path(article) %>
        <% end %>
      </td>
      <td>
        <% if can? :destroy, article %>
          <%= link_to 'Destroy', article_path(article),
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'Create your article', new_article_path %>