<h1>New Organization</h1>
<%= form_for :organization, url: organizations_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :tag %><br>
    <%= f.text_area :tag %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
