<!DOCTYPE html>
<html>
<head>
  <title>Simple Social Network</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Home', root_path %> | <%= user_html_string(current_user).html_safe %>

<%= yield %>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% end %>
</body>
</html>
